*
{
    margin-top: 0px;
    margin-left: 0px;
    background-color: #00b140; /*  Animation background color */
    
}
/*------------     Nav Bar   ---------*/
/*------------    Hyperlink  ---------*/
/*-------------      Form    ---------*/

#form
{
    border: 1px black solid ;
}




/* -----------    Animation  ----+----*/


